<div id="<%= dom_id message %>" class="message" data-message-id="<%= message.id %>">
  <%= message.body %> 
  <a href="#" style="color: red;" id="delete_link">
    <i class="remove icon"></i>
  </a>
</div>