<h1>My Chat Room</h1>

<form class="ui form" id="js-socket">
  <div class="field">
    <textarea rows="3" placeholder="Type your message"></textarea>
  </div>

  <button class="ui green button" type="submit">Send</button>
</form>
<br><br>

<div class="messages">
  <%= render @messages %>
</div>